*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
*.hprof
/app/build/
/app/release/

# Claude Code lokale Session-Konfiguration
.claude/
